{
    "server" : {
        "port" : 2020, HOST PORT
        "host" : "0.0.0.0" HOST IP
    },
    "querys": {
        "timeWindow" : ["YYYY.MM.DD"] initial date for querys
    },
    "infoSecret" : "String to encrypt headers",
    "permisions" : {
        "permision": DB permision ID,
        ...
    }
}